.card
  .card-header.d-flex.align-items-center
    %span Frequently Asked Questions

    = link_to 'New Faq', new_faq_path, class: 'btn btn-outline-secondary ms-auto'
  %i.bi-tick
  %table.table
    %thead
      %tr
        %th Question
        %th Answer
        %th Likes
        - if can? :manage, Faq
          %th Answered
          %th Displayed
          %th Clicks
        %th
    %tbody
      - @faqs.each do |faq|
        - if can? :manage, Faq or faq.answered? && faq.displayed?
          %tr
            %td= faq.question
            %td= faq.answer
            %td= faq.votes_for.up.size
            - if can? :manage, Faq
              %td= faq.answered
              %td= faq.displayed 
              %td= faq.clicks
            %td
              .btn-toolbar.float-end
                - if can? :manage, Faq or faq.answered? && faq.displayed?
                  = link_to 'Show', faq, class: 'btn btn-outline-danger ms-1 my-1 btn-sm'
                - if can? :manage, Faq
                  = link_to 'Delete', faq, method: :delete, class: 'btn btn-outline-danger ms-1 my-1 btn-sm'
                  = link_to 'Edit', edit_faq_path(faq), class: 'btn btn-outline-secondary ms-1 my-1 btn-sm'
