.card.proposed-event-card.mb-3[proposed_event]
  .card-header.d-flex.justify-content-between.align-items-center{class: "background-colour #{proposed_event.event.colour}"}
    %h2.proposed_event_datetime_sm.d-inline.d-sm-none
      =proposed_event.decorate.proposed_datetime(compact: true)
    %h2.proposed_event_datetime_lg.d-none.d-sm-inline
      =proposed_event.decorate.proposed_datetime(compact: false)




    .event-action.d-flex.flex-row

      %a.d-flex.align-items-center{"id" => "modal_button_proposed_event_#{proposed_event.id}", "data-bs-target" => "#modal_proposed_event_#{proposed_event.id}", "data-bs-toggle" => "modal", :type => "button"}
        %i.bi-three-dots

      =render 'proposed_events/modal', proposed_event: proposed_event, event: event


  .proposed-event-card-body
    = render 'events/event_card', event: proposed_event.event, render_params: {hide_likes: true, no_click: true}

  - if defined?(@participant)
    .card-footer.d-flex.justify-content-between.align-items-center


      - if proposed_event.outing.creator_id == current_user.id || current_user.admin?
        = link_to proposed_event_path(proposed_event), class: 'btn btn-outline-secondary destroy-proposed-event d-flex align-items-center', title: 'Remove Event', method: :delete, data: { remote: true, confirm: 'Are you sure?' } do
          %span.me-2.d-none.d-md-inline
            Remove from outing
          %i.bi-trash

      .vote-actions.d-flex.flex-row.align-items-center

        -# let the participant vote
        = link_to vote_proposed_event_path(proposed_event), :method => :post, remote: true, id: 'vote-button', class: 'btn btn-outline-secondary' do
          %span.vote-results-text
          .vote-like-count.me-1
            = proposed_event.decorate.vote_likes
          %i{class: (current_user.voted_for? proposed_event) ? 'vote-like bi-hand-thumbs-up-fill' : 'vote-like bi-hand-thumbs-up'}
