= render 'navigation'

%h2 Find friends
= simple_form_for :search, url: friend_search_path, method: :get do |f|
  = f.input :name, input_html: { value: @name || '' } , label: 'Search for a user by their name', wrapper_html: { class: 'mb-3' }

  = f.submit 'Search', class: 'btn btn-outline-primary'
  = link_to 'Clear', friend_search_path, class: 'btn btn-outline-secondary'

- if @users.present?
  %table.table.mt-3#friends_list
    %thead
      %tr
        %th Results
        %th
    %tbody
      - @users.each do |user|
        %tr{:id => "friend-#{user.id}"}
          %td
            = render 'user', user: user
          %td
            .btn-toolbar.float-end
              - if current_user.following?(user)
                = button_to 'Unfriend', unfollow_path(user), class: 'btn btn-outline-danger btn-sm mt-2'
              - elsif current_user.sent_follow_request_to?(user)
                = button_to 'Cancel friend request', cancel_path(user), class: 'btn btn-outline-warning btn-sm mt-2'
              - else
                = button_to 'Add friend', follow_path(user), class: 'btn btn-outline-success btn-sm mt-2'
- if @name.present? && @users.empty?
  %p.mt-3 Sorry, we couldn't find any users matching the name '#{@name}'. Please try a different search term.