.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Metric details
      .card-body
        %dl.row.mb-0
          %dt.col-md-3 Time enter:
          %dd.col-md-9= @metric.time_enter
          %dt.col-md-3 Time exit:
          %dd.col-md-9= @metric.time_exit
          %dt.col-md-3 Route:
          %dd.col-md-9= @metric.route
          %dt.col-md-3 Lattitude:
          %dd.col-md-9= @metric.latitude
          %dt.col-md-3 Longitude:
          %dd.col-md-9= @metric.longitude
          %dt.col-md-3 Country Code:
          %dd.col-md-9= @metric.country_code
          %dt.col-md-3 Is logged in:
          %dd.col-md-9= @metric.is_logged_in
          %dt.col-md-3 Number interactions:
          %dd.col-md-9= @metric.number_interactions
          %dt.col-md-3 Pricing selected:
          %dd.col-md-9= @metric.pricing_selected
      .card-footer.d-flex
        = link_to 'Edit', edit_metric_path(@metric), class: 'btn btn-link'
        = link_to 'Back', metrics_path, class: 'btn btn-link ms-auto'