.card
  .card-header.d-flex.align-items-center
    %span Listing Participants

    = link_to 'New Participant', new_participant_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Status
        %th User
        %th Outing
    %tbody
      - @participants.each do |participant|
        %tr
          %td= participant.status
          %td= participant.user
          %td= participant.outing
          %td
            .btn-toolbar.float-end
              = link_to 'Show', participant, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_participant_path(participant), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'