.card
  .card-body
    .card-title
      %h5 User Search
    = simple_form_for :search, url: users_path, method: :get do |f|

      .search-fields
        .description-content
          = f.input :description, placeholder: 'Search by name or email...', label: false, required: false, input_html: {name: 'description', value: @query || '' }, wrapper_html: { class: 'mb-3' }

        %button.btn.btn-outline-primary{ type: 'submit' }
          %i.bi-search
          Search

        = link_to 'Clear', users_path, class: 'btn btn-outline-secondary'
.card
  .card-header.d-flex.align-items-center
    %span Listing Users

  %table.table
    %thead
      %tr
        %th Role
        %th Full Name
        %th Suspended
        %th Locking
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.role
          %td= user.full_name
          %td
            - if user != current_user &&  user.commercial
              - if !user.suspended
                = link_to 'Suspend', suspend_user_path(user), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'
              - else
                = link_to 'Reinstate', reinstate_user_path(user), method: :put, class: 'btn btn-outline-secondary ms-1 btn-sm'
          %td
            - if user != current_user
              - if !user.access_locked?
                = link_to 'Block', lock_user_path(user), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'
              - else
                = link_to 'Unblock', unlock_user_path(user), method: :put, class: 'btn btn-outline-secondary ms-1 btn-sm'
          %td
            .btn-toolbar.float-end
              = link_to 'Show', user, class: 'btn btn-outline-secondary btn-sm'
              - if user != current_user
                = link_to 'Edit', edit_user_path(user), class: 'btn btn-outline-secondary ms-1 btn-sm'
                = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'

%div.digg_pagination
  = will_paginate @users