-# frozen_string_literal: true
= simple_form_for(@outing) do |f|
  .card-body
    = f.input :name, wrapper_html: { class: 'mb-3' }
    = f.input :date, wrapper_html: { class: 'mb-3' }
    = f.input :description, wrapper_html: { class: 'mb-3' }
    = f.input :outing_type, wrapper_html: { class: 'mb-3' }, collection: Outing.outing_types.keys

  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', outings_path, class: 'btn btn-link ms-auto'
