-# frozen_string_literal: true
= simple_form_for(@outing) do |f|
  .card-body
    = f.input :name, wrapper_html: { class: 'mb-3' }
    = f.input :date, wrapper_html: { class: 'mb-3' }, html5: true

    = f.input :description, wrapper_html: { class: 'mb-3' }
    = f.input :outing_type, wrapper_html: { class: 'mb-3' }, collection: Outing.outing_types.keys

  .card-footer.d-flex
    - if locals[:edit]
      %button.btn.btn-primary{ type: 'submit' , formmethod: 'PATCH' }
        Update
    - else
      %button.btn.btn-primary{ type: 'submit' , formmethod: 'POST' }
        Save

    = link_to 'Set Details', set_details_outing_path(@outing), class: 'btn btn-primary'

    = link_to 'Back', outings_path, class: 'btn btn-link ms-auto'
