.outing-header
  .content.pb-2
    .outing-banner
      .d-flex.justify-content-between
        %h1
          = outing.name
    .outing-details

      %i.bi-calendar
      - if outing.date
        %h2.outing-date
          = outing.date
      - else
        %h2.outing-date
          Date TBD

      %i.bi-pin
      - if outing.events.count > 0
        %h2.outing-location
          Location is...
      - else
        %h2.outing-location
          Starting Location TBD

      - if outing.description && outing.description != ''
        %p= outing.description
      - else
        %p No Description

  -# if action buttons are included in the header, and the current user either created this outing or is admin
  - if defined?(action_buttons) && action_buttons && (current_user == outing.creator || current_user.admin?)
    .action-buttons.d-flex.justify-content-end.py-2.overline
      = link_to edit_outing_path(outing), class: 'btn btn-outline-secondary' do
        %i.bi-gear
    .row
      .col-1
        %i.bi-pin
      .col
        - if outing.events.count > 0
          %h2
            = outing.events.first.address
        - else
          %h2
            Starting Location TBD

  - if defined?(nav) && nav
    #outing-nav.d-lg-none.text-center
      .outing-nav-item#outing-nav-who.pb-2{:class => (params[:position] == 'who' || params[:position].nil?) ? 'underline' : '' }
        #outing-nav-who-link.black Who?

      .outing-nav-item#outing-nav-when.pb-2{:class => params[:position] == 'when' ? 'underline' : '' }
        #outing-nav-when-link.black When?

      .outing-nav-item#outing-nav-where.pb-2{:class => params[:position] == 'where' ? 'underline' : '' }
        #outing-nav-where-link.black Where?
