.outing-header
  .content.pb-2
    .outing-banner
      .d-flex.justify-content-between
        %h1
          = outing.name

        .action-buttons.d-flex.flex-row

          -# if action buttons are included in the header, and the current user either created this outing or is admin
          - if defined?(action_buttons) && action_buttons && (current_user == outing.creator || current_user.admin?)
            .action-buttons.d-flex.justify-content-end.pe-2
              = link_to edit_outing_path(outing), class: 'btn btn-outline-secondary' do
                %i.bi-gear

          .dropdown.me-1
            %a.btn.btn-outline-secondary.dropdown-toggle{:href => "#", "role" => "button", "data-bs-toggle" => "dropdown", "data-target" => "#"}
              %i.bi-share
              %b.caret
            %ol.lg-icon.dropdown-menu.p-3.ms-2.text-center{"role" => "menu"}
              %li
                %button.btn.btn-outline-primary{:id=>'copy_clipboard', :href=> '#', :value=>new_participant_url(outing)}
                  %i.bi-link
              %li
                %a.bi-twitter{"data-show-count" => "false", href: "https://twitter.com/intent/tweet?url=#{new_participant_url(outing)}"}
                %script{async: "", charset: "utf-8", src: "https://platform.twitter.com/widgets.js"}
              %li
                %a.bi-envelope{:href=>"mailto:?subject=Check out my outing at planetGo! &body=Click this link to join! #{new_participant_url(outing)}"}
    .outing-details

      %i.bi-calendar
      - if outing.date
        %h2.outing-date
          = outing.date
      - else
        %h2.outing-date
          Date TBD

      %i.bi-pin
      - if outing.events.count > 0
        %h2.outing-location
          = outing.events.first.address
      - else
        %h2.outing-location
          Starting Location TBD

      - if outing.description && outing.description != ''
        %p= outing.description
      - else
        %p No Description


  - if defined?(nav) && nav
    #outing-nav.d-lg-none.text-center
      .outing-nav-item#outing-nav-who.pb-2{:class => (params[:position] == 'who' || params[:position].nil?) ? 'underline' : '' }
        #outing-nav-who-link Who?

      .outing-nav-item#outing-nav-when.pb-2{:class => params[:position] == 'when' ? 'underline' : '' }
        #outing-nav-when-link When?

      .outing-nav-item#outing-nav-where.pb-2{:class => params[:position] == 'where' ? 'underline' : '' }
        #outing-nav-where-link Where?
