.outing-header
  .content
    .row
      %h1
        = @outing.name
    .row
      .col-1
        %i.bi-calendar
      .col
        - if @outing.date
          %h2
            = @outing.date
        - else
          %h2
            Date TBD


    .row
      .col-1
        %i.bi-pin
      .col
        - if @outing.events.count > 0
          %h2
            Location is...
        - else
          %h2
            Starting Location TBD

    %p= @outing.description

  .flex_container.justify-content-around
    #outing-nav-who.underline
      %a Who?
    #outing-nav-when
      %a When?
    #outing-nav-where
      %a Where?

  %hr
#outing-body
  #content-who.w-100
    %p.grey #{@outing.participants.count} people interested

    = form_tag users_path, method: :get do
      = text_field_tag :search
      = submit_tag 'Search'


    .dropdown.me-0
      %a.btn.btn-outline-secondary.dropdown-toggle{:href => "#", "role" => "button", "data-bs-toggle" => "dropdown", "data-target" => "#"}
        %i.bi-share
        %b.caret
      %ol.lg-icon.dropdown-menu.p-3.ms-2.text-center{"role" => "menu"}
        %li
          %a{:href => "#link1"}
            %i.bi-link
        %li
          %a{:href => "#link1"}
            %i.bi-instagram
        %li
          %a{:href => "#link2"}
            %i.bi-facebook
        %li
          %a{:href => "#link3"}
            %i.bi-twitter
        %li

    #participant-cards
      - @outing.participants.each do |participant|
        = render 'outings/participant_card', participant: participant

    %hr

    = form_tag send_invites_outing_path(@outing), method: :post, remote: true do

      #not_invited_friends
        - current_user.not_invited_friends(@outing).each do |friend|
          = render 'invite_friend', friend: friend

      = submit_tag 'Send Invites'



  #content-when.w-100
    when
    %input.w-100
