- # For additional JS:
- additional_javascript('outings')
- additional_stylesheet('outings')

= render 'outing_header', outing: @outing, nav: true

#outing-body.pt-3.overline.mb-5
  -# params position is used because javascript is used to switch between who, when and where views
  #content-who-and-when.d-flex{:class => (!(params[:position] == 'where') || params[:position].nil?) ? '' : 'd-none'}
    #content-who.d-lg-block{:class => ((params[:position] == 'who')  || params[:position].nil?) ?  '' : 'd-none'}
      %p.grey #{@outing.participants.count} people interested

      #participant-cards
        - @outing.participants.each do |participant|
          = render 'outings/participant_card', participant: participant, action_buttons: true

      %hr
      = form_tag send_invites_outing_path(@outing), method: :post, remote: true do
        .d-flex.justify-content-end
          = submit_tag 'Send Invites', class: 'mb-2 btn btn-primary', id: 'send-invite-button'
        #not_invited_friends
          - current_user.not_invited_friends(@outing).each do |friend|
            = render 'invite_friend', friend: friend

    #content-when.d-lg-block{:class => ((params[:position] == 'when')) ? '' : 'd-none'}
      =render :partial => 'simple_calendar/outing_availability_calendar', :locals => {:peoples_availabilities => @peoples_availabilities}
      .d-lg-flex.justify-content-end.d-none
        %a.btn.btn-primary#set-events{:href => set_details_outing_path(@outing, position: 'where')}
          Set Events
          %i.bi-chevron-right

  #content-where.flex-lg-row.flex-column.d-flex{:class => (!(params[:position] == 'where') || params[:position].nil?) ? 'd-none' : ''}
    #where-sidebar

      = form_tag events_path, id: 'event-search-form', placeholder: 'search for events here...', class: 'mb-2 search-form', method: :get do
        = text_field_tag :description

        %button.btn.btn-outline-secondary{:type => "submit"}
          %i.bi-search

      #recommended-events
        = render 'events/recommended_events', recommended_events: current_user.recommended_events(outing: @outing)

    #where-body
      %h2
        Timetable
      #where-timetable.py-1
        = render 'outings/where_timetable'

      %h2.text-center
        - if current_user.postcode?
          Check out this popular events happening near you!
        - else
          Check out this popular events!

      .horizontal-scroll.justify-content-center
        - current_user.final_events.each do |event|
          = render 'events/event_card', event: event, render_params: { add_event_to_outing: true }, outing: @outing

      .d-none.d-lg-flex.justify-content-end
        = link_to set_details_outing_path(@outing, position: 'who'), class: 'btn btn-secondary me-2' do
          %i.bi-chevron-left
          Add Participants

        = link_to 'Done', outing_path(@outing), id: 'outing-footer-done',  class: 'btn btn-primary'