%a.card.event-card-small.horizontal-card{href: event_path(event)}
  = image_pack_tag event.image_path, width: "100%"
  .event-card-header.d-flex.align-items-center.justify-content-center
    %h3.black.text-center.mx-3.mb-0= event.name
  - if render_params[:add_event_to_outing]
    .card-footer.overline
      = simple_form_for @proposed_event, html: {class: 'w-100 d-flex justify-content-end align-items-bottom'}, remote: true do |f|
        = f.hidden_field :event_id, value: event.id
        = f.hidden_field :outing_id, value: outing.id
        = f.hidden_field :proposed_datetime, value: event.time_of_event
        = f.hidden_field :status, value: 'pending'
        %button.btn.btn-outline-none.mx-auto.send-proposed-event-button{type: "submit"}
          %i.bi-calendar-plus.mx-1
          Add

