.card.event-card{data: { url: event_path(event) }, class: !defined?(render_params) || !render_params[:no_click] ? 'click-card' : ''}[event]
  .body.clickable
    .event-image{class: "background-colour #{event.colour}"}
      = event.category.symbol
    %h2.event-title
      = link_to event.name, event
    .event-subheading
      %h3.event-datetime
        %em
          %i.bi-calendar
          = event.decorate.display_time
      %p.event-location
        %i.bi-pin-map-fill
        = event.address_line1
    %p.event-description= event.decorate.display_description(400)

  - if defined?(add_to_outing_params)
    .footer
      = render 'events/event_card_footer', event: event, add_to_outing_params: add_to_outing_params

