%a.card.event-card-small.horizontal-card{href: event_path(event)}
  -# = image_pack_tag event.image_path, width: "50px", id: 'event-card-image'

  .event-image{class: event.colour}
    = event.category.symbol

  %h3.event-title= event.name
  %h4.event-datetime= event.decorate.display_time
  %p.event-location location!
  %p.event-description= event.decorate.display_description

  .event-card-footer.d-flex.align-items-center.justify-content-between
    = event.decorate.likes(current_user, compressed: true)
    = button_to like_event_path(event), method: :post, remote: true, class: 'btn btn-primary' do
      %i.bi-star



