.card.event-card{data: { url: event_path(event) }, class: !defined?(render_params) || !render_params[:no_click] ? 'click-card' : ''}[event]
  .body.clickable
    .event-image{class: "background-colour #{event.colour}"}
      = event.category.symbol
    %h2.event-title
      = link_to event.name, event
    .event-subheading
      %h3.event-datetime
        %em
          %i.bi-calendar
          = event.decorate.display_time
      %p.event-location
        %i.bi-pin-map-fill
        = event.address_line1
    %p.event-description= event.decorate.display_description(400)

  .footer

    - if defined?(render_params) && render_params[:add_event_to_outing]

      = simple_form_for @proposed_event, html: {class: 'd-flex justify-content-between'}, remote: true do |f|
        = f.hidden_field :event_id, value: event.id
        = f.hidden_field :outing_id, value: outing.id
        = f.hidden_field :proposed_datetime, value: event.time_of_event
        = f.hidden_field :status, value: 'pending'

        %button.btn.btn-outline-primary.reject-event-button{type: "button"}
          %i.bi-x-circle.ms-1
          %span.action-button-text.d-none.d-sm-inline
            Dismiss

        %button.btn.btn-outline-primary.send-proposed-event-button{type: "submit"}
          %span.action-button-text.d-none.d-sm-inline
            Add to Outing
          %i.bi-calendar-plus.ms-1

    - unless defined?(render_params) && render_params[:hide_likes]
      .likes.d-flex.justify-content-between.align-items-center

        .large-likes
          = event.decorate.likes(current_user, current_user_liked: current_user.liked(event), compressed: false)
        .small-likes
          = event.decorate.likes(current_user, current_user_liked: current_user.liked(event), compressed: true)


        = link_to like_event_path(event), title: 'Like this Event', method: :patch, data: { remote: true } do
          %i.like_icon{:class => event.decorate.like_icon(current_user.liked(event))}


  -# - if defined?(render_params)
  -#   = render 'events/event_card_footer', event: event, add_to_outing_params: render_params[:add_event_to_outing]