%a.card.event-card-small{href: event_path(event)}
  -# = image_pack_tag event.image_path, width: "50px", id: 'event-card-image'

  .event-image{class: event.colour}
    = event.category.symbol
  %h3.event-title= event.name
  %h4.event-datetime= event.decorate.display_time

  %p.event-location location!
  %p.event-description= event.decorate.display_description

  .event-card-footer
    - if defined?(render_params) && render_params[:add_event_to_outing]
      .overline
        = simple_form_for @proposed_event, html: {class: 'w-100 d-flex justify-content-end align-items-bottom'}, remote: true do |f|
          = f.hidden_field :event_id, value: event.id
          = f.hidden_field :outing_id, value: outing.id
          = f.hidden_field :proposed_datetime, value: event.time_of_event
          = f.hidden_field :status, value: 'pending'
          %button.btn.btn-outline-none.mx-auto.send-proposed-event-button{type: "submit"}
            %i.bi-calendar-plus.mx-1
            Add
    - else
      .d-flex.justify-content-between.align-items-center
        = event.decorate.likes(current_user, compressed: true)
        = button_to like_event_path(event), method: :post, remote: true, class: 'btn btn-primary' do
          %i.bi-star

