-# frozen_string_literal: true
= simple_form_for(@event) do |f|
  .card-body
    = f.input :name, wrapper_html: { class: 'mb-3' }
    = f.input :time_of_event, wrapper_html: { class: 'mb-3' }
    = f.input :description, wrapper_html: { class: 'mb-3' }
    = f.input :approved, wrapper_html: { class: 'mb-3' }
    = f.input :category, wrapper_html: { class: 'mb-3' }, collection: Event.categories.keys


    -# = f.simple_fields_for :event_rags do |event_tag|
    -#   = render 'event_tag_fields', f: event_tag
    -# .links
    -#   = link_to_add_association 'add tag', f, :event_tags


      -# = link_to_add_association 'Add Tag', f, :event_tags, partial: 'event_tag',  :class=>"btn btn-outline-dark"
  .card-footer.d-flex


    %button.btn.btn-primary{ type: 'submit' }
      Save

    %a{href: event_path(@event), method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }, class: 'red ms-auto' }
      %i.bi-trash.lg-icon



