-# frozen_string_literal: true
= simple_form_for(@event) do |f|
  .card-body
    = f.input :name, label: "Event Name", wrapper_html: { class: 'mb-3' }
    = f.input :time_of_event, label: "Time and Date", wrapper_html: { class: 'mb-3' }
    = f.input :description, wrapper_html: { class: 'mb-3' }
    - if locals[:edit] && current_user.admin? && !(@event.user == current_user)
      .row
        .col
          = f.input :user, label: "Creator", disabled: true
        - unless @event.approved.nil?
          .col
            = f.input :approved

    = f.input :category_id, wrapper_html: { class: 'mb-3' }, :collection => Category.all.collect {|c| [c.name, c.id]}
  .card-footer.d-flex


    %button.btn.btn-primary{ type: 'submit' }
      Save

    - if locals[:edit]
      %a{href: event_path(@event), method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }, class: 'red ms-auto' }
        %i.bi-trash.lg-icon



