- additional_stylesheet 'events'

.card
  .card-body
    = simple_form_for :search, url: events_path, method: :get do |f|

      .search-fields
        .description-content
          %label{for: 'search_description', class: 'd-flex align-items-center'}
            %i.bi-search

          = f.input :description, placeholder: 'search for events...', label: false, required: false, input_html: {name: 'description', value: @description || '' }, wrapper_html: { class: 'd-flex flex-col align-items-center' }

        .filter-content
          %label{for: 'search_category_id', class: 'd-flex align-items-center'}
            %i.bi-filter

          = f.input :category_id, prompt: "filter by category...", input_html: { name: 'category_id'}, collection: Category.all, label: false, required: false, wrapper_html: { class: 'd-flex flex-col align-items-center' }


        %button.btn.btn-outline-primary{ type: 'submit' }
          %i.bi-search
          Search


  - if current_user.commercial
    .card-footer.d-flex.justify-content-end
      = link_to category_interests_path, class: 'nav-link btn btn-outline-secondary p-2' do
        .btn-sm
          %i.bi-pencil-square
          Edit Event Category Interests
%br
#events
  - if @events.empty?
    %h1 Hmm...
    %p There doesn't seem to be any events yet
    %p come back later and they'll be more for you!

  - @events.each do |event|
    .click-card{data: { url: event_path(event) }}[event]
      = render "event_card", event: event
  
  %div.digg_pagination
    = will_paginate @events