- if current_user.admin? || current_user.advertiser?
  = render "registering_events"


#events
  = simple_form_for :search, url: events_path, method: :get do |f|
    = f.input :description, input_html: { name: 'description', value: @description || '' }, label: 'Search for a user by their name'
    = f.input :category_id, input_html: { name: 'category_id'}, :collection => Category.all.collect {|c| [c.name, c.id]},
                                                                          selected: @category_id, :include_blank => ''
    = f.input :interest_order, as: :boolean, input_html: { name: 'interest_order', checked: @interest_order == "1" },
                                                                          label: 'Prioritise events according to your interests?'
    = f.submit 'Search', class: 'btn btn-outline-primary mt-3'
    = link_to 'Clear', events_path, class: 'btn btn-outline-secondary mt-3'

  - if @approved_events.count == 0
    %h1 Hmm...
    %p There doesn't seem to be any events yet
    %p come back later and they'll be more for you!

  - @approved_events.each do |event|
    = render "event_card", event: event