event = document.querySelector("#event_#{@event.id}");

actor = event ? event : document

likes_section = actor.querySelector(".likes");

event_liked = #{@event_liked};
event_like_count = #{@event.cached_votes_total};

like_string_sh = "#{@event_liked_string_sh}";
like_string_lg = "#{@event_liked_string_lg}";


event_like_sh = likes_section.querySelector(".small-likes");
event_like_lg = likes_section.querySelector(".large-likes");
event_like_icon = likes_section.querySelector(".like_icon");

event_like_sh.innerHTML = like_string_sh;

if(event_like_lg){ event_like_lg.innerHTML = like_string_lg };

if(event_liked){ event_like_icon.classList.replace("bi-star-fill", "bi-star") };
if(!event_liked){ event_like_icon.classList.replace( "bi-star", "bi-star-fill") };