event = document.querySelector("#event_#{@event.id}");

actor = event ? event : document

likes_section = actor.querySelector(".likes");

event_liked = #{@event_liked};
event_like_count = #{@event.likes.count};

like_string_sm = "#{@event_liked_string_sm}";
like_string_lg = "#{@event_liked_string_lg}";


event_like_sm = likes_section.querySelector(".small-likes");
event_like_lg = likes_section.querySelector(".large-likes");
event_like_icon = likes_section.querySelector(".like_icon");

event_like_sm.innerHTML = like_string_sm;

if(event_like_lg){ event_like_lg.innerHTML = like_string_lg };

if(event_liked){ event_like_icon.classList.replace("bi-star", "bi-star-fill") };
if(!event_liked){ event_like_icon.classList.replace("bi-star-fill", "bi-star") };