.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Event details
      .card-body
        %dl.row.mb-0
          %dt.col-md-3 Name:
          %dd.col-md-9= @event.name
          %dt.col-md-3 Date:
          %dd.col-md-9= @event.date
          %dt.col-md-3 Description:
          %dd.col-md-9= @event.description
          %dt.col-md-3 Category:
          %dd.col-md-9= @event.category
          %dt.col-md-3 Approved:
          %dd.col-md-9= @event.approved
      .card-footer.d-flex
        = link_to 'Edit', edit_event_path(@event), class: 'btn btn-link'
        = link_to 'Back', events_path, class: 'btn btn-link ms-auto'