-# frozen_string_literal: true
= simple_form_for(@participant_reaction) do |f|
  .card-body
    = f.association :participant, wrapper_html: { class: 'mb-3' }
    = f.association :proposed_event, wrapper_html: { class: 'mb-3' }
    = f.input :reaction, wrapper_html: { class: 'mb-3' }

  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', participant_reactions_path, class: 'btn btn-link ms-auto'
