.card
  .card-header.d-flex.align-items-center
    %span Listing Participant Reactions

    = link_to 'New Participant reaction', new_participant_reaction_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Participant
        %th Proposed event
        %th Reaction
        %th
    %tbody
      - @participant_reactions.each do |participant_reaction|
        %tr
          %td= participant_reaction.participant
          %td= participant_reaction.proposed_event
          %td= participant_reaction.reaction
          %td
            .btn-toolbar.float-end
              = link_to 'Show', participant_reaction, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_participant_reaction_path(participant_reaction), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', participant_reaction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'