.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Participant Reaction details
      .card-body
        %dl.row.mb-0
          %dt.col-md-3 Participant:
          %dd.col-md-9= @participant_reaction.participant
          %dt.col-md-3 Proposed event:
          %dd.col-md-9= @participant_reaction.proposed_event
          %dt.col-md-3 Reaction:
          %dd.col-md-9= @participant_reaction.reaction
      .card-footer.d-flex
        = link_to 'Edit', edit_participant_reaction_path(@participant_reaction), class: 'btn btn-link'
        = link_to 'Back', participant_reactions_path, class: 'btn btn-link ms-auto'