- # For additional JS:
- additional_javascript('account')

#account
  %h1 Account
  .card
    .card-header.d-flex.justify-content-between
      %p
        Account details

      = link_to edit_user_registration_path, class: 'nav-link btn btn-outline-secondary p-2' do
        %i.bi-pencil-square
        Edit
    .card-body
      %h2
        = current_user.full_name
      %p
        = current_user.email

    .card-footer
      .d-flex.justify-content-end

        = link_to destroy_user_session_path, class: 'nav-link btn btn-outline-secondary p-2', method: :delete do
          %i.bi-box-arrow-right
          Sign out


.row
  .col-md-3.mt-4
    %h1 Friends
    - if @friends.present?
      - @friends.each do |friend|
        %p= friend
    - else
      %p You have no friends yet.
  .col-md-9.mt-4
    %h1 My outings

    #future_outings.py-3
      %h2 Future Outings
      - @future_outings.each do |outing|
        .mb-3.card[outing]
          .card-header.d-flex
            %strong= outing.name
          .card-body
            %p
              = outing.description
            %p
              = outing.creator
          .card-footer.d-flex

            = link_to outing_path(outing), class: 'btn btn-link ms-auto', title: 'Edit this outing' do
              %i.bi-map

            = link_to outing_path(outing), class: 'btn btn-link text-danger', method: :delete, title: 'Delete outing', data: { confirm: 'Are you sure you want to delete this outing?' } do
              %i.bi-trash

    #past_outings.py-3
      %h2 Past Outings
      - @past_outings.each do |outing|
        .mb-3.card[outing]
          .card-header.d-flex
            %strong= outing.name
          .card-body
            %p
              = outing.description
            %p
              = outing.creator
          .card-footer.d-flex
            = link_to outing_path(outing), class: 'btn btn-link ms-auto', title: 'Edit this outing' do
              %i.bi-map

            = link_to outing_path(outing), class: 'btn btn-link text-danger', method: :delete, title: 'Delete outing', data: { confirm: 'Are you sure you want to delete this outing?' } do
              %i.bi-trash

  #liked_events.col-md-9.mt-4
    %h1 My Liked Events
    - @liked_events.each do |event|
      .mb-3.card[event]
        .card-header.d-flex
          %strong= event.name
        .card-body
          %p=event.description

  =render 'calendar'
        
-##past_outings= render "outing", collection: @outings_past