- # For additional JS:
- additional_javascript('account')
- additional_stylesheet('account')

.card
  .card-body.d-flex.justify-content-between.align-items-center
    .user
      = render 'friends/user', user: current_user

    .action-buttons.d-flex
      = link_to edit_user_registration_path, class: 'btn btn-outline-primary p-2 me-2' do
        %i.bi-pencil-square
          .d-none.d-sm-inline-flex
            Edit
      = link_to destroy_user_session_path, class: 'btn btn-outline-primary p-2', method: :delete do
        %i.bi-box-arrow-right
        .d-none.d-sm-inline-flex
          Sign out
.card
  =render :partial => 'simple_calendar/my_calendar', :locals => {:persons_availabilities => @availabilities}

.card
  .card-header
    %h1 Friends
  .card-body
    .horizontal-scroll
      - if @friends.present?
        - @friends.each do |user|
          = render 'users/user_icon', user: user
      - else
        %p You have no friends yet.
  .card-footer
    = link_to friends_path, class: 'd-flex justify-content-end' do
      .pe-2
        More
      %i.bi-arrow-right-circle



.events-and-outings.row
  .outings.col-lg-6.mb-4
    .card.h-100
      .card-header
        %h1 My outings
      .card-body
        .d-flex.justify-content-end.pb-2
          = link_to new_outing_path, class: 'btn btn-outline-primary' do
            New Outing
            %i.bi-plus-circle

        #future_outings

          - if @future_outings.empty?
            %p Plan some outings and see them here!
          - else
            - @future_outings.each do |outing|
              = render 'outings/outing_card', outing: outing

      .card-footer
        = link_to outings_path, class: 'd-flex justify-content-end' do
          .pe-2
            More
          %i.bi-arrow-right-circle

  .events.col-lg-6.mb-4
    .card.h-100
      .card-header
        %h1 Liked Events
      .card-body
        #liked_events
          - @liked_events[0..2].each do |event|
            .click-card{data: { url: event_path(event) }}[event]
              = render 'events/event_card', event: event


      .card-footer
        = link_to events_path, class: 'd-flex justify-content-end' do
          .pe-2
            More
          %i.bi-arrow-right-circle


.card
  .card-header
    %h1 My Interests
  .card-body
    .horizontal-scroll
      - if @categories.present?
        - @categories.each do |category|
          = render 'categories/category_icon', category: category
      - else
        %p You have no categories yet.
  .card-footer
    = link_to category_interests_path, class: 'd-flex justify-content-end' do
      .pe-2
        More
      %i.bi-arrow-right-circle



        
-##past_outings= render "outing", collection: @outings_past