.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Category details
      .card-body
        %dl.row.mb-0
          %dt.col-md-3 Name:
          %dd.col-md-9= @category.name
          %dt.col-md-3 Liked by:
          %dd.col-md-9= '%.2f' % @category.liked_percent + '%'
          %dt.col-md-3 Disliked by:
          %dd.col-md-9= '%.2f' % @category.disliked_percent + '%'
          %dt.col-md-3 Indifferent users:
          %dd.col-md-9= '%.2f' % @category.indifferent_percent + '%'
      .card-footer.d-flex
        = link_to 'Edit', edit_category_path(@category), class: 'btn btn-link'
        = link_to 'Back', categories_path, class: 'btn btn-link ms-auto'