.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Bug Report details
      .card-body
        %dl.row.mb-0
          %dt.col-md-3 Title:
          %dd.col-md-9= @bug_report.title
          %dt.col-md-3 Description:
          %dd.col-md-9= @bug_report.description
          %dt.col-md-3 Category:
          %dd.col-md-9= @bug_report.category
          %dt.col-md-3 Resolved:
          %dd.col-md-9= @bug_report.resolved
          %dt.col-md-3 Reported by:
          %dd.col-md-9= @bug_report.user
          - if @bug_report.evidence.attached?
            %dt.col-md-3 Evidence:
            %dd.col-md-9= link_to 'View evidence', rails_blob_url(@bug_report.evidence), target: :_blank
      .card-footer.d-flex
        = link_to 'Edit', edit_bug_report_path(@bug_report), class: 'btn btn-link'
        = link_to 'Back', bug_reports_path, class: 'btn btn-link ms-auto'