.card
  .card-header.d-flex.align-items-center
    %span Listing Reviews

    = link_to 'New Review', new_review_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th User
        %th Body
        %th Likes
        %th
    %tbody
      - @reviews.each do |review|
        %tr
          %td= review.user.email
          %td= review.body
          %td= review.votes_for.up.size
          %td
            .btn-toolbar.float-end
            .btn-toolbar.float-end
              = link_to 'Read more', review, class: 'btn btn-outline-secondary btn-sm'
              - if user_signed_in? and current_user.admin?
                = link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'