.card
  .card-header.d-flex.align-items-center
    %span Listing Reviews

    = link_to 'New Review', new_review_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th id
        %th User
        %th Body
        %th
    %tbody#review-table-body

      - @reviews.each do |review|
        %tr
          %td= review.id
          %td= review.user
          %td= review.summary

          %td
            .btn-toolbar.float-end
              = link_to 'Show', review, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_review_path(review), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'