.card
  .card-header.d-flex.align-items-center
    %span Listing Reviews

    = link_to 'New Review', new_review_path, class: 'btn btn-outline-secondary ms-auto'
  %i.bi-tick
  %table.table
    %thead
      %tr
        %th User
        %th Body
        %th Date
        %th Likes
        - if can? :manage, Review
          %th Clicks
          %th Landing page
        %th
    %tbody
      - @reviews.each do |review|
        %tr
          %td= review.user.email
          %td= review.summary(300)
          %td= review.created_date
          %td= review.votes_for.up.size
          - if can? :manage, Review
            %td= review.clicks
            %td
              - if review.is_on_landing_page
                %i.bi-check
              - else
                %i.bi-x

          %td
            .btn-toolbar.float-end
              = link_to 'Read more', review, class: 'btn btn-outline-secondary ms-1 my-1 btn-sm'
              - if can? :manage, Review
                = link_to 'Delete', review, method: :delete, class: 'btn btn-outline-danger ms-1 my-1 btn-sm'
                = link_to 'Edit', edit_review_path(review), class: 'btn btn-outline-secondary ms-1 my-1 btn-sm'
