!!!
%html{ lang: 'en-GB' }
  %head
    %title PlanetGO

    %meta{ :'http-equiv' => "content-type", content: "text/html; charset=utf-8" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no" }

    %script{:src=>"https://code.jquery.com/jquery-3.6.1.min.js"}

    - if content_for(:description)
      %meta{ content: content_for(:description), name: 'description' }

    %title= ["PlanetGO", content_for(:title)].compact.join(' - ')

    = csrf_meta_tags
    = csp_meta_tag
    
    = stylesheet_pack_tag *['styles', *content_for(:additional_stylesheet).to_s.split(' ')].compact, media: 'all'
    = javascript_pack_tag *['application', *content_for(:additional_javascript).to_s.split(' ')].compact
    = favicon_link_tag
  %body{:class => (controller.action_name == 'show' || controller.action_name == 'new' ? '' : 'index')}

    / if the page url doesn't contain or /show, /new, give the class .index
    %main
      .sidebar

        %ul#sidebar-content
          %li.sidebar-item
            = link_to '/welcome', class: 'navbar-brand' do
              = image_pack_tag 'planetgo_logo_white.svg', height: 30, alt: 'logo for the company planet go. the logo includes a calendar icon in the center of a planet with one ring'
              .sidebar-label
                PlanetGO
          - if user_signed_in?
            %li.sidebar-item{:class => controller.controller_name == 'pages' ? 'active' : ''}
              = link_to "/myaccount", class: 'nav-link' do
                %span.initial-avatar.d-inline-flex= current_user.initials
                %span.sidebar-label
                  = current_user.full_name

              %span.sidebar-label
                %button.sidebar-toggler{ type: :button, data: { bs_toggle: :collapse, bs_target: '#user-dropdown-content' }, aria: { controls: 'sidebar-content', expanded: 'false', label: 'Toggle navigation' } }
                  %span.bi-chevron-down

            %ul#user-dropdown-content.sidebar-collapse.collapse
              %li.sidebar-item{:class => controller.controller_name == 'category_interests' ? 'active' : ''}
                = link_to :category_interests do
                  %i.bi-emoji-smile
                  %span.sidebar-label
                    Interests

              %li.sidebar-item{:class => controller.controller_name == 'bug_reports' ? 'active' : ''}
                = link_to bug_reports_path, class: 'nav-link' do
                  %i.bi-bug
                  %span.sidebar-label
                    report bug

              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.bi-box-arrow-right
                  %span.sidebar-label
                    Sign out

            %li.sidebar-item{:class => controller.controller_name == 'friends' ? 'active' : ''}
              = link_to "/friends", class: 'nav-link' do
                %i.bi-people
                %span.sidebar-label
                  Friends
            - if current_user.user?
              %li.sidebar-item{:class => controller.controller_name == 'outings' ? 'active' : ''}
                = link_to :outings, class: 'nav-link' do
                  %i.bi-map
                  %span.sidebar-label
                    Outings
          - else
            %li.sidebar-item.nav-item{:class => controller.controller_name == 'account' ? 'active' : ''}
              = link_to :new_user_session, class: 'nav-link' do
                %i.bi-person
                %span.sidebar-label
                  Login

          - if !user_signed_in? || (user_signed_in? && current_user.user?)
            %li.sidebar-item{:class => controller.controller_name == 'events' ? 'active' : ''}
              = link_to :events, class: 'nav-link' do
                %i.bi-calendar-event
                %span.sidebar-label
                  Events

          - unless user_signed_in?
            %li.sidebar-item.nav-item.d-flex.d-sm-none{:class => controller.controller_name == 'welcome' ? 'active' : ''}

              = link_to '/welcome', class: 'navbar-brand' do
                = image_pack_tag 'planetgo_logo_white.svg', height: 30, alt: 'logo for the company planet go. the logo includes a calendar icon in the center of a planet with one ring'
                .sidebar-label
                  Welcome


          -# if the current user has admin permissions
          - if user_signed_in?
            - if current_user.admin?
              %hr

          - if can? :update, User

            %li.sidebar-item{:class => controller.controller_name == 'users' ? 'active' : ''}
              = link_to users_path, class: 'nav-link' do
                %i.bi-person
                %span.sidebar-label
                  Accounts

          - if can? :manage, Metric

            %li.sidebar-item{:class => controller.controller_name == 'metrics' ? 'active' : ''}
              = link_to metrics_path, class: 'nav-link' do
                %i.bi-list-ol
                %span.sidebar-label
                  Site metrics

          - if can? :manage, BugReport

            %li.sidebar-item{:class => controller.controller_name == 'bug_reports' ? 'active' : ''}
              = link_to bug_reports_path, class: 'nav-link' do
                %i.bi-bug
                %span.sidebar-label
                  Bug reports


          - if can? :manage, Category

            %li.sidebar-item{:class => controller.controller_name == 'categories' ? 'active' : ''}
              = link_to categories_path, class: 'nav-link' do
                %i.bi-emoji-smile
                %span.sidebar-label
                  Categories

          - if can? :manage, Event

            %li.sidebar-item{:class => controller.controller_name == 'events' ? 'active' : ''}
              = link_to events_manage_path, class: 'nav-link' do
                %i.bi-calendar-event
                %span.sidebar-label
                  Manage Events


      .container

        - if flash.present?
          .container-fluid.flash-messages
            - flash.each do |message_type, message|
              - next unless message_type == 'alert' || message_type == 'notice'
              .alert{ class: "alert-#{ message_type == 'notice' ? 'success' : 'danger' }" }= message

        = yield


