!!!
%html{ lang: 'en-GB' }
  %head
    %title Project

    %meta{ :'http-equiv' => "content-type", content: "text/html; charset=utf-8" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no" }
    %script{:src=>"https://code.jquery.com/jquery-3.6.1.min.js"}

    - if content_for(:description)
      %meta{ content: content_for(:description), name: 'description' }

    %title= ["Project", content_for(:title)].compact.join(' - ')

    = csrf_meta_tags
    = csp_meta_tag
    
    = stylesheet_pack_tag *['styles', *content_for(:additional_stylesheet).to_s.split(' ')].compact, media: 'all'
    = javascript_pack_tag *['application', *content_for(:additional_javascript).to_s.split(' ')].compact

  %body

    %header.navbar.navbar-expand-md.bg-light.mb-3
      .container-fluid
        = link_to '/', class: 'navbar-brand' do
          = image_pack_tag 'temp_logo.png', height: 40
        %button.navbar-toggler{ type: :button, data: { bs_toggle: :collapse, bs_target: '#navbar-content' }, aria: { controls: 'navbar-content', expanded: 'false', label: 'Toggle navigation' } }
          %span.navbar-toggler-icon

        #navbar-content.navbar-collapse.collapse
          .navbar-nav.mr-auto
            - if user_signed_in?

              %li.nav-item.active
                = link_to :events, class: 'nav-link' do
                  %i.bi-calendar-event
                  %span.nav-title
                    Events

              %li.nav-item.active
                = link_to :outings, class: 'nav-link' do
                  %i.bi-map
                  %span.nav-title
                    Outings

              %li.nav-item.active
                = link_to '/friends', class: 'nav-link' do
                  %i.bi-people
                  %span.nav-title
                    Friends


              - if current_user.admin?

                %li.nav-item.active
                  = link_to users_path, class: 'nav-link' do
                    %i.bi-person
                    %span.nav-title
                      Accounts

                %li.nav-item.active
                  = link_to '/metrics', class: 'nav-link' do
                    %i.bi-list-ol
                    %span.nav-title
                      Site Metrics

          %ul.navbar-nav.mr-auto
            - if user_signed_in?
              %hr
              %li.nav-item.active
                %li.nav-item.active
                = link_to "/myaccount", class: 'nav-link' do
                  %i.bi-person-badge
                  %span.nav-title

                    #{current_user.full_name}

            - else
              %li.nav-item.active
                = link_to :new_user_session, class: 'nav-link' do
                  Login





    - if flash.present?
      .container-fluid.flash-messages
        - flash.each do |message_type, message|
          - next unless message_type == 'alert' || message_type == 'notice'
          .alert{ class: "alert-#{ message_type == 'notice' ? 'success' : 'danger' }" }= message

    %main
      .container
        = yield


